<!DOCTYPE html>
<html>
<head>
  <title>McmsBlog</title>

  <link rel="icon" type="image/png" href="/favicon.ico" />

  <%= render 'layouts/stylesheets' %>
  
  
  <%= render :partial => 'layouts/javascript' %>
  
  <%= csrf_meta_tags %>


</head>
<body>
  <div id="page-container" >
    <div class="body-containt">
      <%= yield %>
      <div style="clear:both;"></div>
    </div>
  </div>

</body>
</html>

